@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url('pacote-projeto-d010/fontes/bebas_neue/BebasNeue-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

header {
    background-image: linear-gradient(to top, #1A5C38, #268651, #39CE7C );
    min-height: 150px;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
    color: white;
    padding-top: 40px;
}

header p {
    padding-bottom: 50px;
}

nav {
    background-color: #1A5C38;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 7px 7px rgb(0 0 0 / 27%);
}

nav > a {
    color: #36df82;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: #39CE7C;
    color: #134128;
}

h1 {
    color: white;
    font-family: 'Bebas', 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
}


h1.titulo {
    color: rgb(36, 36, 36);
    font-family: 'Idroid', 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: normal;    
}

h2 {
    font-family: 'Idroid', 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: #134128;
    font-weight: normal;
    background-image: linear-gradient(to right, #54c4ae63, #BEEFD4,#EDFBF3 );
    text-indent: 8px;
}

main{
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #134128;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

span.link-artigo {
    background-color: #83E1AD;
    font-weight: bold;
}

span.footer {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: rgba(15, 15, 15, 0.658);
}

a:active {
    color: yellowgreen;
}

aside {
    background-color: #83E1AD;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%); 
}
aside > h3 {
    background-color: #1A5C37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #1A5C37;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #36df82;
}
